@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Uniwersytet Zmyślony</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Witaj na Uniwersytecie Zmyślonym</h2>
        <p>
            Uniwersytet Zmyślony jest testową aplikacją, wykorzystującą Entity Framework. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Wolna sekcja 1</h2>
        <p>Przykładowy tekst</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wolna sekcja 2 </h2>
        <p>Przykładowy tekst</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
    </div>
</div>